{% extends 'myapp/layout.html' %}


{% block body %}
<br>
<br>
<h2 style="text-align: center;"> hi, i am Narayan </h2>
<a href="https://merchant.razorpay.com/policy/MYXNCkHSWJoMjr/terms">Terms and Conditions
</a>
<br>
<a href="https://merchant.razorpay.com/policy/MYXNCkHSWJoMjr/contact_us">Contact us</a>
<br>
<a href="https://merchant.razorpay.com/policy/MYXNCkHSWJoMjr/refund">Cancellation & Refund Policy</a>
<br>
<a href="https://merchant.razorpay.com/policy/MYXNCkHSWJoMjr/privacy">Privacy Policy</a>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://www.youtube.com/@narayanshineyourstudy1005/videos"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My YouTube Channel</h1></a>
</div>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://www.facebook.com/narayan.chura.7"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My facebook Account</h1></a>
</div>
{% endblock %}