{% extends 'myapp/layout.html' %}

{% block title %}Homepage{% endblock %}


{% block body %}
<br>
<br>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://www.youtube.com/@narayanshineyourstudy1005/videos"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My YouTube Channel</h1></a>
</div>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://www.facebook.com/narayan.chura.7"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My facebook Account</h1></a>
</div>
{% endblock %}