{% extends 'myapp/layout.html' %}

{% block body %}
<br>
<br>
<h2 style="text-align: center;"> hi, i am shah rukh rao </h2>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://twitter.com/TheShahRukhRao"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My Twitter Account</h1></a>
</div>
<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://www.facebook.com/TheShahRukh"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My facebook Account</h1></a>
</div>

<div style="background-color: beige ; margin: 2%;">
    <a style="text-decoration: none;" href="https://github.com/raoshah"><h1 style="text-align: center; background-color: hotpink; color: aliceblue; padding: 1%;">My GitHub Account</h1></a>
</div>
{% endblock %}