{% extends 'myapp/layout.html' %}

{% block body %}
    <h3>Objective Questions :</h3>
    <form action="/react/{{z}}" method="post">
        {% csrf_token %}
        <p style="background-color: cornsilk;">Question No.{{ a.id }}</p>
        <h4 style="background-color: whitesmoke; font-size: large;">{{ a.que }}</h4>
        <div class="options-container">
            <div class="column">
                <label>
                    <input type="radio" name="a" value="{{a.a}}">
                    {{a.a}}
                </label>
                <label>
                    <input type="radio" name="a" value="{{a.b}}">
                    {{a.b}}
                </label>
            </div>
            <div class="column">
                <label>
                    <input type="radio" name="a" value="{{a.c}}">
                    {{a.c}}
                </label>
                <label>
                    <input type="radio" name="a" value="{{a.d}}">
                    {{a.d}}
                </label>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
    

    <h3>Posts</h3>
    {% for posts in post %}
    
    <a style="text-decoration: none;" href="/post/{{posts.id}}"><div class="post">
        <h2>{{ posts.name }}</h2>
    </div></a>
    {% endfor %}
    






{% endblock %}