{% extends 'myapp/layout.html' %}
{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#autocomplete-input").autocomplete({
                source: '/get_suggestions/',  // URL to fetch suggestions from
                minLength: 2,  // Minimum length of user input before fetching suggestions
            });
        });
    </script>
{% endblock %}
{% block body %}
  
<div class="qus">
    <ui style="margin: 2%;"><a style="text-decoration: none; font-style: italic;" href="{% url 'libr' %}"></a></ul>
        <ui style="margin: 2%;"><a style="text-decoration: none; font-style: italic;" href="{% url 'libr' %}"><img src="/media/images/lib.png" alt="logo" style="width: 90%;"></a></ul>
            <h3 style="text-align: center;">Library Science Quiz</h3>
</div>
    
    <div class="qus">
            <ui style="margin: 2%;"><a style="text-decoration: none; font-style: italic;" href="{% url 'rjgk' %}"><img src="/media/images/rjgk.png" alt="logo" style="width: 90%;"></a></ul>
    </div>
        
    
    

    


    <h3>Posts</h3>
    {% for posts in post %}
    
    <a style="text-decoration: none;" href="/post/{{posts.id}}"><div class="post">
        <h2>{{ posts.name }}</h2>
    </div></a>
    {% endfor %}
    




    <div>
        <label for="autocomplete-input">Search:</label>
        <input id="autocomplete-input">
    </div>
    <div class="stock" >
        <h1>
            {{ index.index}}
            <p>
                {{ index.last }}
            </p>
        </h1>
    </div>
{% endblock %}